<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zxeltor.StoCombat.Realtime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <zxeltor.StoCombat.Realtime.Properties.Settings>
            <setting name="CombatLogPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="CombatLogPathFilePattern2" serializeAs="String">
                <value>combatlog*.log</value>
            </setting>
            <setting name="HowLongBeforeNewCombatInSeconds2" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MyCharacter2" serializeAs="String">
                <value />
            </setting>
            <setting name="IsEnableInactiveTimeCalculations2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinInActiveInSeconds2" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="IsDebugLoggingEnabled2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnrealAnnouncementsEnabled2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiKillWaitInSeconds2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IsCalculateAssitedKills2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsIncludeAssistedKillsInAchievements2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HowOftenParseLogsInSeconds2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IsProcessKillingSpreeAnnouncements2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsProcessMultiKillAnnouncements2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnouncementPlaybackVolumePercentage2" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlayWindowContextString2" serializeAs="String">
                <value />
            </setting>
            <setting name="IsProcessKillingSpreeSplash2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsProcessMultiKillSplash2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsProcessMiscSplash2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsProcessMiscAnnouncements2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AchivementOverlayWindowContextString2" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDisplayToolsTab2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HowLongAfterNoCombatBeforeRemoveFromGridInSeconds2"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StoCombatRealtimeSettings" serializeAs="String">
                <value />
            </setting>
        </zxeltor.StoCombat.Realtime.Properties.Settings>
    </userSettings>
</configuration>